body {
    background-image: url(icon/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.website-title{
    font-family: "Permanent Marker", "cursive";
    padding-top: 10vw;
    text-decoration: none;
    color: rgb(223, 120, 97);
    text-align: center;
}
form {
    background-color: rgb(48, 40, 40,.4);
    padding: 2vw 1.5vw;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    width: 50vw;
    margin: auto;
}
input[type="email"],
input[type="password"],
.username {
    height: 2.5vw;
    border-radius: 8px;
    width: 99%;
}
.username {
    margin-bottom: 1vw;
}
input[type="email"]{
    margin-bottom: 1vw;
}

input[type="password"]{
    margin-bottom: .75vw;
}
label {
    font-family: 'Courier New', Courier, monospace;
}
p {
    margin: 0;
}
.buttons-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5vw;
}
.sign-up-button {
    cursor: pointer;
    background-color: #ECB390;
    padding: .25vw;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s;
    margin-top: .75vw;
}
.sign-up-button:hover {
    background-color: #e49260;
}
.reset-button {
    cursor: pointer;
    background-color: #ECB390;
    padding: .25vw;
    border: none;
    border-radius: 8px;
    transition: background-color 0.2s;
    margin-top: .75vw;
}
.reset-button:hover {
    background-color: #e49260;
}